@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: 'PT Serif', serif;
        font-display: swap;
        @apply bg-gray-100;
    }

    body {
        overflow: scroll; /* Show scrollbars */
    }
    
    #__next {
        @apply flex flex-col justify-between h-screen;
    }
}

@layer components {
    .btn {
        @apply items-center block px-4 py-2 text-sm font-medium leading-6 text-center text-white transition duration-150 ease-in-out bg-blue-600 border border-transparent rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .btn[disabled] {
        @apply justify-center bg-blue-300 cursor-not-allowed hover:bg-blue-400;
    }
}

.item-junk {
    color: #AAAAAA;
    border: 3px solid #AAAAAA !important;
}

.item-basic {
    color: #000000;
    border: 3px solid #000000 !important;
}

.item-fine {
    color: #62A4DA;
    border: 3px solid #62A4DA !important;
}

.item-masterwork {
    color: #1a9306;
    border: 3px solid #1a9306 !important;
}

.item-rare {
    color: #fcd00b;
    border: 3px solid #fcd00b !important;
}

.item-exotic {
    color: #ffa405;
    border: 3px solid #ffa405 !important;
}

.item-ascended {
    color: #fb3e8d;
    border: 3px solid #fb3e8d !important;
}

.item-legendary {
    color: #4C139D;
    border: 3px solid #4C139D !important;
}
